# ---------------------------------------
# Python
# ---------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Jupyter / notebooks
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
*.coverage
coverage.xml

# Cache / compiled / model files
.cache/
*.pickle
*.pkl
*.npy
*.npz

# IDEs
.vscode/
.idea/
*.iml

# Environment and credentials

*.key
*.pem
*.crt
*.cert
*.secret
config.json
credentials.json

# Local datasets and outputs

output/
uploads/
data/


# Misc
.DS_Store
Thumbs.db
